nav {
    display: flex;
    height: 60px;
    padding: 6px;
    align-items: center;
}

li {
    display: inline-block;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

.about-store {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
}

a:first-of-type {
    margin-left: 15px;
}

a {
    text-decoration: none;
}

body {
    font-family: Roboto,arial,sans-serif;
    background: #fff;
    color: #222;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}    

/***FOOTER***/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

.start-footer {
    justify-content: flex-start;
    order: 1;
    display: flex;
    flex-wrap: wrap;
}

.end-footer {
    justify-content: flex-end;
    order: 2;
    display: flex;
    flex-wrap: wrap;
}

.footer-link {
    color: #70757a;
    cursor: pointer;
    padding: 15px;
}

a.footer-link {
    text-decoration: underline;
}
