/***BODY***/

li {
    display: inline-block;    
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}    

body {
    font-family: Roboto,arial,sans-serif;
    background: #fff;
    color: #222;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

/***NAVBAR***/

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 6px;
    height: 60px;
}

.nav-link {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
}

.nav-start {
    display: flex;
    justify-content: flex-start;
    order: 1;
}

.nav-end {
    display: flex;
    justify-content: flex-end;
    order: 2;
}

.sign-in {
    color: white;
    padding: 3px 15px;
    background-color: #4285f4;
    border-radius: 3px;
    font-weight: bold;
}

/***FOOTER***/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

.start-footer {
    justify-content: flex-start;
    order: 1;
    display: flex;
    flex-wrap: wrap;
}

.end-footer {
    justify-content: flex-end;
    order: 2;
    display: flex;
    flex-wrap: wrap;
}

.footer-link {
    color: #70757a;
    padding: 15px;
}
